body{
    background-color: rgb(3, 3, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: rgb(22, 22, 124);
    padding: 10px;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
form input{
    background-color: rgb(7, 7, 93);
    color: white;
    outline:none ;
    padding: 5px 10px;
    flex-basis:300px ;
    flex-grow: 1;
    border-radius: 50px;

}
form button{
    background-color:rgb(36, 36, 222) ;
    cursor:pointer ;
    color: white;
    padding: 5px 10px;
    flex-basis:50px ;
    flex-grow:1;
    border-radius: 50px;
    
}